.center-box-register {
    display: flex;
    justify-content: center;
    min-height: auto;
    zoom: 80%;
}

.center-box-index {
    display: flex;
    justify-content: center;
    min-height: auto;
    zoom: 80%
}

.full-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-page-landing {
    height: 100vh;
}

.landing-box {
    zoom: 80%;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    offset: 10px;
}

body {
    background-image: url("img/background.jpg");
    background-size: 300vh;
    background-repeat: repeat;
}

grid {
    border-radius: 100px;
}

.full-width {
    width: 75%;
}

p {
    font-size: 35px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
