@media only screen and (max-width: 990px ) { 
    .center-box-index {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        zoom: 117%
    }
}
@media only screen and (max-width: 990px ) { 
    .center-box-register {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        zoom: 117%;
    }
}

@media only screen and (min-width: 991px ) {
    .center-box-index {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 117.5vh;
        zoom:85%;
    }
}
@media only screen and (min-width: 991px ) {
    .center-box-register {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 133vh;
        zoom:75%;
    
    }
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    offset: 10px;
}

body {
    background-image: url("img/background.jpg");
    background-size: 300vh;
    background-repeat: repeat;
}

grid {
    border-radius: 100px;
}

.full-width {
    width: 75%;
}
